@font-face {
font-family: "STSongti SC";
src: local(STSongti-SC-Regular);
}
@font-face {
    font-family: 'LibertinusMath';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/LibertinusMath-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Pagella';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/texgyrepagella-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Pagella';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/texgyrepagella-italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Pagella';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/texgyrepagella-bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Tex Gyre Pagella Math';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/texgyrepagella-math.woff2') format('woff2');
}
@font-face {
    font-family: 'Domitian';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Domitian-Roman.woff2') format('woff2');
}
@font-face {
    font-family: 'Domitian';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Domitian-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Domitian';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Domitian-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Domitian';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Domitian-BoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'serifsc';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Songti-SC-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'neozhisong';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/LXGWNeoZhiSongScreen.woff2') format('woff2');
}
/* bold font is also needed... */
html {
    border-top: 5px solid #333
}

body {
    /* margin: 0px auto 0px auto;
    width: 800px; */
    /* font-family: 'Tex Gyre Pagella', "STSongti SC" , "serifsc", serif; */
    /* font-family: 'Tex Gyre Pagella', "neozhisong",serif; */
    font-family: 'Domitian', "neozhisong",serif;
    font-size: 1.2em;
    line-height: 125%;
    color: black;
    background-color: white;
}
body a {
    color: #337ab7;
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
body a:visited {
    color: #7e50a9; /* Color for visited links */
}
body .langtag {
    color: gray;
}


header {
    /* margin-bottom: 0.2rem;
    padding: 20px 0 20px 0; */
    /* border-bottom: 1px solid black; */
    /* text-align: left; */
    font-weight: bold;
}

/* Navbar styling  only for top bar!!!*/
.navbar {
    display: flex; /* Uses flexbox for layout */
    justify-content: space-between; /* Distributes space between elements */
    align-items: center; /* Vertically centers the items */
}

/* Right-aligned container */
.nav-right {
    display: flex; /* Uses flexbox for horizontal layout of right-aligned links */
    /* gap: 15px; Adds spacing between the links */
}

/* Links inside the navbar */
.navbar a {
    text-decoration: none; /* Removes underline from links */
}
.navbar a:hover {
    background: #fbf3f3;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 8px;
}
.navbar a:visited { 
    color: #555555;
}

nav {
    text-align: right;
}

nav a {
    font-size: 1.4rem;
    color: #555;
    margin-left: 12px;
    text-decoration: none
}



footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right
}
.pagetitle{
    /* margin-top: 2em; */
    font-size: 2.2em;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    line-height: 100%;
}
h1 {
    margin-top: 1.7em;
    font-size: 1.7em;
    font-weight: medium;
    font-style: normal;
    text-align: left;
    line-height: 100%;
}

h2 {
    margin-top: 1.5em;
    font-size: 1.5em;
    font-weight: medium;
    font-style: normal
}

h3 {
    margin-top: 1em;
    font-size: 1.35em;
    font-weight: medium;
    font-style: normal
}

article .header {
    font-size: 1rem;
    font-style: normal;
    color: #555;
    text-align: left;
}

.logo a {
    font-weight: bold;
    color: #233;
    text-decoration: none;
}

.info {
    color: darkgreen;
    font-size: 1.1rem;
    font-style: normal;
    text-align: left;
}
.info a{
    color: darkolivegreen;
    font-size: 1.1rem;
    font-style: normal;
    text-align: left;
}
.ascii-art {
    border: 2px solid black; /* Adds a solid border */
    padding: 10px;           /* Adds space between the border and the content */
    background-color: #f0f0f0; /* Optional: background color to make it stand out */
    display: inline-block;   /* Keeps the border close to the content */
    font-family: monospace;  /* Ensures consistent ASCII art font */
    line-height: normal;
}

/* blockquote {
    background-color: rgb(222, 222, 222);
    border-left: 5px solid #333;
} */
/* Blockquote Style */
blockquote {
    margin: 1.5em 10px; /* Adjusts spacing around the blockquote */
    padding: 0.5em 10px; /* Adjusts padding inside the blockquote */
    border-left: 5px solid #ccc; /* Creates a left border */
    background-color:  rgb(233, 233, 233); /* Light background for the blockquote */
    color: rgb(55, 55, 55); /* Text color inside the blockquote */
    /* font-style: italic; Makes the text italic */
    font-size: 0.9em;
}

blockquote p {
    margin: 0; /* Removes default paragraph margin inside blockquote */
}

blockquote cite {
    display: block;
    margin-top: 0.5em; /* Adds space above the citation */
    font-size: 0.875em; /* Slightly smaller font for the citation */
    color: #888; /* Lighter color for the citation */
    text-align: right; /* Aligns the citation to the right */
}

blockquote cite:before {
    content: "— "; /* Adds a dash before the citation */
}

table {
    background-color: rgb(245, 245, 245);
}

figure {
    /* border: thin #c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    /* width: 60%; */
    max-width: 80%;
}

  
figcaption {
/* font: italic smaller sans-serif; */
padding: 3px;
text-align: center;
}
  
.caption {
    display: none
}

.centerimg img {
    margin: 0 auto 0 auto;
    display: block;
}
.katex .mathnormal, .katex .mathrm, .katex .custom-Regular, .katex .amsrm {
	font-family: 'LibertinusMath';
}

.katex, .katex * {
    line-height: normal !important;
    font-size: 1em;
}

div.highlight,
pre code {
    margin: 0 auto;
    padding: 10px;
    background: #eee;
    overflow: scroll;
    display: block;
}

code {
    margin: 0 auto;
    background: #eee;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}

.code-output {
    margin: 0 auto;
    padding: 10px;
}

.code-output code {
    background-color: inherit;
}

.highlight pre {
    margin: 0
}

.main-text {
    margin-top: 2em
}

.sidenote {
    position: absolute;
    margin-left: 830px;
    font-size: 1em;
    color: #333
}

.sidenote ol {
    margin: 0
}

.sidenote p {
    margin: 5px 0 5px 0;
    padding-right: 20px
}

.footnotes {
    font-size: 1em;
    color: #333;
    display: none
}

ul.posts {
    list-style: none;
    padding-left: 0
}

.draft-notice {
    color: #fb4f4f;
    margin: 1em auto;
    text-align: center
}

.left {
    float: left
}

.collection-seek h5 {
    text-align: center;
    height: 0;
    margin: 0;
    font-size: 0.9em
}

.collection-seek {
    text-align: right;
    height: 1em;
    font-size: 0.9em
}

.subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0
}



@media (max-width: 319px) {
    body {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }

    header {
        margin: 4.2rem 0;
    }

    nav {
        margin: 0 auto 3rem;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    .logo {
        text-align: center;
        margin: 1rem auto 3rem;
    }

    .logo a {
        font-size: 2.4rem;
    }

    nav a {
        display: block;
        line-height: 1.6;
    }
}

@media (min-width: 320px) {
    body {
        width: 90%;
        margin: 0;
        padding: 0 5%;
    }

    header {
        margin: 1rem 0;
    }

    nav {
        margin: 0 auto 1rem;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    .logo {
        text-align: center;
        margin: 1rem auto 1rem;
    }

    .logo a {
        font-size: 2.4rem;
    }

    nav a {
        display: inline;
        margin: 0 0.6rem;
    }
}

@media (min-width: 640px) {
    body {
        width: auto;
        margin: 0 30% 0 20%;
        padding: 0;
    }

    header {
        margin: 0 0 3rem;
        padding: 0.5em 0 0 0.3em;
    }

    nav {
        margin: 0;
        text-align: right;
    }

    nav a {
        margin: 0 0 0 1.2rem;
        display: inline;
    }

    footer {
        text-align: right;
    }

    .logo {
        margin: 0;
        text-align: left;
    }

    .logo a {
        float: left;
        font-size: 1.8rem;
    }
}