<h1 class="pagetitle">$title$</h1>
<ul>
    $for(posts)$
    <li>
        <a href="$url$">$title$</a> <span class="langtag">[$lang$]</span> - $date$
    </li>
    $endfor$
    <li>
        <a href="https://gitea.talldoor.uk/sxlxc/EXP3notes/releases/download/latest/main.pdf">
            Note on “Fast EXP3 Algorithms”
        </a>
        <span class="info">[PDF]</span>
    </li>
    <li>
        <a href="https://gitea.talldoor.uk/sxlxc/sparsest-cut/releases/download/latest/main.pdf">
            Sparest cut survey
        </a>
        <span class="info">[PDF]</span>
    </li>
    <li>
        Incentive allocation paper (IJCAI 25)
        <a href="https://gitea.talldoor.uk/sxlxc/ijcai25-slides-poster/releases/download/latest/poster.pdf">
            Poster
        </a>
        &
        <a href="https://gitea.talldoor.uk/sxlxc/ijcai25-slides-poster/releases/download/latest/slides.pdf">
            Slides
        </a>
        <span class="info">[PDF]</span>
    </li>
</ul>