<article>
    <section class="subtitle">
        $if(subtitle)$
            $subtitle$
        $endif$
        $if(draft)$
        <br><span style="font-weight: bold; color: red;">Draft</span>
        $endif$
    </section>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <div class="info">
        $if(tags)$
            Tags: $tags$
        $endif$
    </div>    
    <section class="body">
        $body$
    </section>
</article>
